/* Bootstrap overrides */
.container {max-width: 960px; width: 100%;}
.navbar {border: 0; border-radius: 0; margin-bottom: 0; position: relative;}

/* General styles */
@font-face {
  font-family: LeagueGothic;
  src: url(../fonts/LeagueGothic/League_Gothic.otf);
}
@font-face {
  font-family: RockwellBold;
  src: url(../fonts/Rockwell/ROCKB.ttf);
}
@font-face {
  font-family: HelveticaLight;
  src: url(../fonts/Helvetica/HelveticaLight.ttf);
}
@font-face {
  font-family: HelveticaNormal;
  src: url(../fonts/Helvetica/HelveticaNormal.ttf);
}
@font-face {
  font-family: HelveticaBold;
  src: url(../fonts/Helvetica/HelveticaBold.ttf);
}
@font-face {
  font-family: HelveticaCondensed;
  src: url(../fonts/Helvetica/HelveticaCondensed.ttf);
}
@font-face {
  font-family: HelveticaBoldCondensed;
  src: url(../fonts/Helvetica/HelveticaBoldCondensed.ttf);
}
@font-face {
  font-family: HelveticaBlackCondensed;
  src: url(../fonts/Helvetica/HelveticaBlackCondensed.ttf);
}
@font-face {
  font-family: ErasDemi;
  src: url(../fonts/ErasITC/ErasDemi.ttf);
}
@font-face {
  font-family: DroidSans;
  src: url(../fonts/DroidSans/DroidSans.ttf);
}
@font-face {
  font-family: DroidSansBold;
  src: url(../fonts/DroidSans/DroidSans-Bold.ttf);
}

html {height: 100%;}
body {background: url(../images/website-bg.png); height: 100%; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
.main-wrapper {min-height: 100%; height: auto; margin: 0 auto -275px; padding: 0 0 275px; position: relative;}
a, .btn, input {outline: none !important;}
textarea {resize: none;}
.text-bold {font-weight: bold;}
.text-italic {font-style: italic;}
.text-right {text-align: right;}
.text-center {text-align: center;}

/* Header related styles */
.navbar .container {padding-right: 0; position: relative; max-width: 1000px;}
.navbar .container:before {background: url(../images/menu-bg-cut.png) 0 0 no-repeat; display: block; position: absolute; width: 75px; height: 75px; top: 45px; left: 0; content: " "; z-index: -1;}
.navbar .top-menu-wrapper {margin-bottom: 10px;}
.navbar .mobile-logo {position: absolute;}
.navbar .top-menu-wrapper a {color: #487e01; text-shadow: 1px 1px 0 rgba(255,255,255,0.8); margin-right: 20px; display: inline-block; padding-top: 5px;}
.navbar .top-menu-wrapper a:hover, .navbar .top-menu-wrapper a:focus, .navbar .top-menu-wrapper a:active {text-decoration: none;}
.top-menu-wrapper .basket-menu-wrapper {
  border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; box-shadow: 0 0 5px rgba(0,0,0,0.9); position: relative;
  background-color: #f4f4f4;
  background-image: -o-linear-gradient(bottom, #fff 0%, #f1f1f1 100%); 
  background-image: -moz-linear-gradient(bottom, #fff 0%, #f1f1f1 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, #f1f1f1 100%); 
  background-image: -ms-linear-gradient(bottom, #fff 0%, #f1f1f1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f1f1f1)); 
  background-image: linear-gradient(to bottom, #fff, #f1f1f1);
}
.top-menu-wrapper .basket-menu-inner:before {content: " "; background: url(../images/basket-left-corner.png) no-repeat 0 0; display: block; width: 10px; height: 10px; top: 0; left: -10px; position: absolute;}
.top-menu-wrapper .basket-menu-inner:after {content: " "; background: url(../images/basket-right-corner.png) no-repeat 0 0; display: block; width: 10px; height: 10px; top: 0; right: -10px; position: absolute;}
.top-menu-wrapper .basket-menu-inner {box-shadow: inset 0 -1px 0 rgba(255,255,255,0.6); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.top-menu-wrapper .basket-menu-wrapper a {color: #333; text-shadow: 0 1px 0 rgba(255,255,255,0.7); margin-right: 0; padding: 5px 12px; font-style: italic; font-family: Georgia, "Helvetica Neue", Arial, Helvetica, sans-serif; float: left;}
.top-menu-wrapper .basket-menu-wrapper a:first-child {border-right: 1px solid #f1f1f1;}
.top-menu-wrapper .basket-menu-wrapper a:last-child {border-left: 1px solid #fbfbfb;}
.top-menu-wrapper .basket-menu-wrapper a img {position: relative; top: -3px; margin-right: 5px;}

.navbar-toggle {background-color: #fff; right: 10px;}
.navbar-toggle .icon-bar {background-color: #e9e9e9;}
.navbar-collapse {background: url(../images/menu-bg.png) no-repeat right top;}
.navbar-collapse:before {background: url(../images/logo.png) no-repeat 0 0; position: absolute; display: block; width: 200px; height: 170px; top: 0; left: 30px; content: " "; z-index: 9999;}
.navbar-right ul {margin: 20px 0;}
.navbar-right li {background: url(../images/menu-item-separator.png) right top no-repeat; padding: 12px 8px 12px 2px;}
.navbar-right li:last-child {background-image: none;}
.navbar-right li a {padding: 6px 12px; border: 1px solid transparent; color: #411303; text-shadow: 1px 1px 0 rgba(255,255,255,0.7);}
.navbar-right li a:hover, .navbar-right li a:focus, .navbar-right li a:active {text-decoration: none;}
.navbar-right li.active a, .navbar-right li a:hover {
  color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.8); border-radius: 5px; border: 1px solid #3f580e; box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  background-color: #3d600c;
  background-image: -o-linear-gradient(bottom, #597c15 0%, #1c4002 100%); 
  background-image: -moz-linear-gradient(bottom, #597c15 0%, #1c4002 100%);
  background-image: -webkit-linear-gradient(bottom, #597c15 0%, #1c4002 100%); 
  background-image: -ms-linear-gradient(bottom, #597c15 0%, #1c4002 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #597c15), color-stop(1, #1c4002)); 
  background-image: linear-gradient(to bottom, #597c15, #1c4002);
}

/* Content related styles */
.content-wrapper {padding: 10px 0 0 0; z-index: -1;}
.content-wrapper:before {}
.content-wrapper .container:before {background: url(../images/woman-img.png) no-repeat 0 0; content: " "; display: block; width: 305px; height: 615px; top: 20px; left: -20px; position: absolute; z-index: 9999;}
.content-block {box-shadow: 1px 1px 5px rgba(0,0,0,0.5); border-radius: 10px; padding: 15px; background-color: #fff; margin-bottom: 20px;}

.how-it-works .title {font-size: 3em; line-height: 1.1em; font-family: RockwellBold, Arial, "Helvetica Neue", Helvetica, sans-serif; padding-left: 0; position: relative; color: #367100; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);}
.how-it-works p {margin-bottom: 20px; padding-left: 10px;}
.how-it-works p span {text-decoration: underline;}

.contact-us {margin-bottom: 30px;}
.contact-us .title {padding-top: 15px; padding-bottom: 15px; margin-bottom: 0; color: #f46900;}
.contact-us .col-sm-7 .title {background: url(../images/email-icon.png) no-repeat 0 0;}
.contact-us .col-sm-5 .title {background: url(../images/phone-icon.png) no-repeat 0 0;}
.contact-us p {padding-left: 55px; color: #636363;}
.contact-us p:last-child {color: #333;}
.contact-us .phone-number {font-size: 1.5em; margin-bottom: 0; color: #333;}
.contact-us form {padding-left: 40px;}
.contact-us .reduce-margin {margin-bottom: 0;}
.contact-us form input, .contact-us form textarea {background-color: #fcfcfc;}
.contact-us form .btn-default {
  padding: 6px 30px; text-shadow: 0 1px 0 #fff;
  background-color: #f2f2f2;
  background-image: -o-linear-gradient(bottom, #fff 0%, #e9e9e9 100%); 
  background-image: -moz-linear-gradient(bottom, #fff 0%, #e9e9e9 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, #e9e9e9 100%); 
  background-image: -ms-linear-gradient(bottom, #fff 0%, #e9e9e9 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #e9e9e9)); 
  background-image: linear-gradient(to bottom, #fff, #e9e9e9);
}

.order-form {margin-top: 10px;}
.order-form .order-form-bottle-column:before {display: block; content: ""; width: 204px; height: 300px; position: absolute; top: 280px; left: 140px; background: url(../images/arrow-icon.png) 0 0 no-repeat; z-index: 9999;}
.order-form .order-form-bottle-column img {position: relative; top: -30px;}
.order-form .order-form-bottle-column p {font-size: 1.3em; text-align: left; font-family: ErasDemi, Arial, "Helvetica Neue", Helvetica, sans-serif;}
.order-form .col-sm-6, .order-form .col-xs-12 {padding: 0 5px;}
.order-form .form {background: url(../images/order-form-bg.png); border-radius: 10px; position: relative;}
.order-form .form:before {content: ""; background: url(../images/order-form-banner.png) 0 0 no-repeat; width: 625px; height: 100px; position: absolute; display: block; left: -30px; top: -10px;}
.order-form .form .inner-form-wrapper {
  padding: 100px 35px 20px 35px; border-radius: 10px;
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.2) 100%); 
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.2) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.2) 100%); 
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.2) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.05)), color-stop(1, rgba(0,0,0,0.2))); 
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.2));
}
.order-form .form .inner-form-wrapper .form-banner {
  color: #fff; text-shadow: 4px 4px 0 rgba(0,0,0,0.1); text-transform: uppercase; margin-bottom: 0;
  width: 100%; position: absolute; top: 20px; left: -10px; padding: 20px 0; box-shadow: 6px 6px 0 rgba(0,0,0,0.2);
  background-color: #fcb535;
  background-image: -o-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%); 
  background-image: -moz-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%);
  background-image: -webkit-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%); 
  background-image: -ms-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fac64c), color-stop(1, #ffa31b)); 
  background-image: linear-gradient(to bottom, #fac64c, #ffa31b);
}
.order-form .form .inner-form-wrapper .form-banner:before {background: url(../images/payment-banner-corner.png) 0 0 no-repeat; display: block; content: ""; position: absolute; bottom: -10px; left: 0; width: 10px; height: 10px;}
.order-form .form .inner-form-wrapper .form-banner .title {font-family: HelveticaBoldCondensed, Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 3em; color: #fff; margin-bottom: 10px;}
.order-form .form .inner-form-wrapper .form-banner .subtitle {font-family: HelveticaBlackCondensed, Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 1.8em; line-height: 1em; margin-bottom: 0;}

.order-form .title {color: #4d8234; text-transform: uppercase; font-size: 2.6em; margin-bottom: 0; line-height: 1em; font-family: HelveticaLight, Arial, "Helvetica Neue", Helvetica, sans-serif;}
.order-form .title span:first-child {font-family: HelveticaNormal, Arial, "Helvetica Neue", Helvetica, sans-serif;}
.order-form .title span:last-child {font-family: HelveticaBold, Arial, "Helvetica Neue", Helvetica, sans-serif;}
.order-form .subtitle {font-size: 1.5em; margin-bottom: 20px; font-family: HelveticaNormal, Arial, "Helvetica Neue", Helvetica, sans-serif;}
.order-form .subtitle span {font-family: HelveticaBold, Arial, "Helvetica Neue", Helvetica, sans-serif;}
.order-form .form-group {margin-bottom: 5px;}
.order-form label {font-weight: normal; text-transform: uppercase; color: #565656;}
.order-form .btn-order-wrapper {box-shadow: 0 1px 3px rgba(0,0,0,0.5); display: inline-block; margin-top: 15px; border-radius: 6px;}
.order-form .btn-order {
  border-radius: 6px; box-shadow: inset 0 0 10px rgba(0,0,0,0.1); padding: 10px 30px; position: relative;
  background: #92d259;
  background: -moz-linear-gradient(top, #92d259 0%, #90d254 31%, #8ad14b 51%, #65b420 52%, #60ae1b 72%, #5fab1b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92d259), color-stop(31%,#90d254), color-stop(51%,#8ad14b), color-stop(52%,#65b420), color-stop(72%,#60ae1b), color-stop(100%,#5fab1b));
  background: -webkit-linear-gradient(top, #92d259 0%,#90d254 31%,#8ad14b 51%,#65b420 52%,#60ae1b 72%,#5fab1b 100%);
  background: -o-linear-gradient(top, #92d259 0%,#90d254 31%,#8ad14b 51%,#65b420 52%,#60ae1b 72%,#5fab1b 100%);
  background: -ms-linear-gradient(top, #92d259 0%,#90d254 31%,#8ad14b 51%,#65b420 52%,#60ae1b 72%,#5fab1b 100%);
  background: linear-gradient(to bottom, #92d259 0%,#90d254 31%,#8ad14b 51%,#65b420 52%,#60ae1b 72%,#5fab1b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92d259', endColorstr='#5fab1b',GradientType=0);
}
.order-form .btn-order:active {box-shadow: inset 0 0 15px rgba(0,0,0,0.2); padding-top: 11px; padding-bottom: 9px;}
.order-form .btn-order span {display: block; text-transform: uppercase; line-height: 1em; text-shadow: 0 1px 2px rgba(0,0,0,0.5);}
.order-form .btn-order span:first-child {font-size: 1.7em; font-family: HelveticaBoldCondensed, Arial, "Helvetica Neue", Helvetica, sans-serif;}
.order-form .btn-order span:last-child {font-family: HelveticaCondensed, Arial, "Helvetica Neue", Helvetica, sans-serif;}

.apply-coupon-section {
  font-family: LeagueGothic, Arial, "Helvetica Neue", Helvetica, sans-serif; text-transform: uppercase; width: auto !important;
  background-color: rgba(255,255,255,0.3); display: inline-block; padding: 5px 20px; border-radius: 50px;
  border-style: dashed; border-width: 3px; border-color: rgba(224,200,143,0.6); box-shadow: inset 0 0 5px rgba(255,255,255,0.7);
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
       -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
}
.apply-coupon-section span {font-size: 2.5em; text-shadow: 0 1px 1px #fff; float: left;}
.apply-coupon-section .first {color: #8b0605;}
.apply-coupon-section .second {color: #366c00;}
.apply-coupon-section .btn-apply-coupon {
  margin-top: 7px; margin-left: 20px; box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.6); border-radius: 30px; border: 1px solid #7e110b; font-family: DroidSansBold, Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #be1305;
  background-image: -o-linear-gradient(bottom, #db2916 0%, #8e0705 100%); 
  background-image: -moz-linear-gradient(bottom, #db2916 0%, #8e0705 100%);
  background-image: -webkit-linear-gradient(bottom, #db2916 0%, #8e0705 100%); 
  background-image: -ms-linear-gradient(bottom, #db2916 0%, #8e0705 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #db2916), color-stop(1, #8e0705)); 
  background-image: linear-gradient(to bottom, #db2916, #8e0705);
}
.apply-coupon-section .btn-apply-coupon:hover {
  background-color: #d62411;
  background-image: -o-linear-gradient(bottom, #8e0705 0%, #db2916 100%); 
  background-image: -moz-linear-gradient(bottom, #8e0705 0%, #db2916 100%);
  background-image: -webkit-linear-gradient(bottom, #8e0705 0%, #db2916 100%); 
  background-image: -ms-linear-gradient(bottom, #8e0705 0%, #db2916 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8e0705), color-stop(1, #db2916)); 
  background-image: linear-gradient(to bottom, #8e0705, #db2916);
}
.benefits-title p {font-family: RockwellBold, Arial, "Helvetica Neue", Helvetica, sans-serif; margin-bottom: 0; line-height: 1em; color: #6b2b08; text-shadow: 0 1px 0 rgba(255,255,255,0.6);}
.benefits-title .title {
  font-size: 2.8em; padding-left: 70px;
  -webkit-transform: rotate(-6deg);
     -moz-transform: rotate(-6deg);
       -o-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
}
.benefits-title .subtitle {
  font-size: 1.7em; padding-left: 140px;
  -webkit-transform: rotate(-2deg);
     -moz-transform: rotate(-2deg);
       -o-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.benefits-section {margin: 20px 0;}
.benefits-section .how-work {background-color: rgba(255,255,255,0.45); box-shadow: 1px 1px 3px rgba(0,0,0,0.1); border-radius: 6px; padding: 10px 15px;}
.benefits-section .how-work .title {color: #2c4d00; font-size: 2.8em; font-family: RockwellBold, Arial, "Helvetica Neue", Helvetica, sans-serif; line-height: 1.1em; text-shadow: 0 2px 2px #fff; margin-bottom: 0;}
.benefits-section a {color: #376701; line-height: 1em; margin-top: 5px; font-family: DroidSans, Arial, "Helvetica Neue", Helvetica, sans-serif;}
.benefits-section .benefits-slider {background-color: rgba(255,255,255,0.45); box-shadow: 1px 1px 3px rgba(0,0,0,0.1); border-radius: 100px; padding: 10px 15px; position: relative;}
.benefits-section .benefits-slider:before {background: url(../images/benefits-girl-img.png) 0 0 no-repeat; position: absolute; display: block; content: ""; width: 155px; height: 225px; top: -60px; left: 30px; z-index: 9999;}
.benefits-section .banner-wrapper {width: 175px; height: 175px !important; border: 10px solid #fff; border-radius: 50%; position: absolute; top: 0; left: 0; box-shadow: 3px 4px 0 rgba(0,0,0,0.08);}
.benefits-section .benefits-copy {padding-left: 180px; padding-top: 20px; padding-right: 10px;}
.benefits-section .benefits-copy p {margin-bottom: 0; font-size: 1.2em; line-height: 1.2em; text-shadow: 0 1px 0 #fff;}
.benefits-section .benefits-copy p.title {font-family: RockwellBold, Arial, "Helvetica Neue", Helvetica, sans-serif; color: #f95e00;}
.benefits-section .benefits-copy p.text {font-family: Rockwell, Arial, "Helvetica Neue", Helvetica, sans-serif;}
.benefits-section .benefits-copy .link {padding-right: 30px; padding-top: 10px;}

.what-is-garcinia-top {background: url(../images/garcinia-benefits-bg.png) right top no-repeat #fff9e9; min-height: 760px;}
.what-is-garcinia-top .col-first {position: relative;}
.what-is-garcinia-top .col-first:before {display: block; content: ""; position: absolute; background: url(../images/banner-icon-1.png) 0 0 no-repeat; top: -5px; left: -10px; width: 435px; height: 165px;}
.what-is-garcinia-top .col-first .title {padding-top: 160px; color: #f95e00; font-size: 1.4em; line-height: 1.1em; padding-right: 20px;}
.what-is-garcinia-top .col-first p:nth-child(2) {padding-right: 80px;}
.what-is-garcinia-top .col-first p:nth-child(3) {padding-left: 10px; padding-right: 140px;}
.what-is-garcinia-top .col-first p:nth-child(4) {padding-right: 140px;}
.what-is-garcinia-top .col-first p:nth-child(5) {padding-right: 140px;}
.what-is-garcinia-top .col-second {padding-right: 0;}
.what-is-garcinia-top .benefits-list {padding-top: 190px;}
.what-is-garcinia-top .benefits-list li {background: url(../images/benefits-list-icon.png) right bottom no-repeat; padding-right: 60px; min-height: 50px; color: #582d0a; padding-left: 150px; margin-bottom: 15px;}
.what-is-garcinia-top .benefits-list li:nth-child(1) {padding-left: 110px;}
.what-is-garcinia-top .benefits-list li:nth-child(2) {padding-left: 120px;}

.what-is-garcinia-bottom {min-height: 370px; background: url(../images/garcinia-benefits-bottom-bg.png) 0 0 no-repeat #fff; padding-bottom: 0;}
.what-is-garcinia-bottom p:nth-child(2), .what-is-garcinia-bottom p:nth-child(3) {margin-bottom: 0;}
.what-is-garcinia-bottom .title {color: #f56a00; font-size: 1.2em; line-height: 1em;}
.what-is-garcinia-bottom .link-wrapper {font-family: RockwellBold, Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 1.3em; white-space: nowrap;}
.what-is-garcinia-bottom .link-wrapper img {display: block; margin-left: 5px;}
.BrowserWebkit .what-is-garcinia-bottom .link-wrapper img, .BrowserSafari .what-is-garcinia-bottom .link-wrapper img {padding-top: 2px;}
.what-is-garcinia-bottom .col-xs-4:nth-child(1).link-wrapper a {color: #fb7300;}
.what-is-garcinia-bottom .col-xs-4:nth-child(2).link-wrapper a {color: #1d97ea;}
.what-is-garcinia-bottom .col-xs-4:nth-child(3).link-wrapper a {color: #63861e;}

.content-wrapper .buy-product-page.container:before {background-image: none;}
.buy-product-page {margin-bottom: 20px;}
.buy-product-page .radio {border: 1px solid #cdcbcc; padding-left: 0; margin-bottom: 20px; box-shadow: 1px 1px 5px rgba(0,0,0,0.3);}
.buy-product-page .radio label {display: block;}
.buy-product-page .radio .body input {margin: 50px 5px; visibility: hidden;}
.buy-product-page .radio .header {background-color: #5e5e5e; color: #fff;}
.buy-product-page .radio.checked .header {
  background-color: #5e5e5e;
  background-image: -moz-linear-gradient(left, #000 0%, #865206 100%);
  background-image: -webkit-gradient(linear, left, right, color-stop(0%, #000), color-stop(100%, #865206));
  background-image: -webkit-linear-gradient(left, #000 0%, #865206 100%);
  background-image: -o-linear-gradient(left, #000 0%, #865206 100%);
  background-image: -ms-linear-gradient(left, #000 0%, #865206 100%);
  background-image: linear-gradient(to right, #000 0%, #865206 100%);
}
.buy-product-page .radio .header p {margin-bottom: 0; padding: 6px 12px;}
.buy-product-page .radio .header .col-xs-7 {padding: 3px 0 0 0;}
.buy-product-page .radio .header .col-xs-7 p {font-size: 1.2em;}
.buy-product-page .radio .header .col-xs-7 span {color: #ffdf2a;}
.buy-product-page .radio .header .col-xs-5 {padding: 0;}
.buy-product-page .radio .header .col-xs-5 p {
  color: #fff; text-transform: uppercase; background-color: #1793dd; box-shadow: inset -1px 2px 2px rgba(255,255,255,0.4);
  border-top-left-radius: 3px; border-bottom-left-radius: 3px;
  background-image: -o-linear-gradient(bottom, #4abdf6 0%, #0a84c5 100%); 
  background-image: -moz-linear-gradient(bottom, #4abdf6 0%, #0a84c5 100%);
  background-image: -webkit-linear-gradient(bottom, #4abdf6 0%, #0a84c5 100%); 
  background-image: -ms-linear-gradient(bottom, #4abdf6 0%, #0a84c5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4abdf6), color-stop(1, #0a84c5)); 
  background-image: linear-gradient(to bottom, #4abdf6, #0a84c5);
}
.buy-product-page .radio .header .col-xs-5 p span {color: #fcf707; font-size: 1.2em;}
.buy-product-page .radio .body {background: url(../images/unchecked.png) 15px 50px no-repeat #fff;}
.buy-product-page .radio.checked .body {background: url(../images/checked.png) 11px 42px no-repeat #ffe8aa;}
.buy-product-page .radio .body .img-responsive {margin: 10px auto;}
.buy-product-page .radio .body .sell-out-risk-info {color: #636363;}
.buy-product-page .radio .body .sell-out-risk-info span {text-transform: uppercase; color: #c45124;}
.buy-product-page .radio .body .text {font-size: 1.2em; line-height: 1.2em; margin-top: 10px; margin-bottom: 5px;}
.buy-product-page .radio .body .price {font-size: 2em; color: #c24800; margin-bottom: 0;}
.buy-product-page .radio .body .price span {font-weight: normal; font-size: 0.6em;}
.buy-product-page .radio .body .btn-select {
  border-radius: 6px; border: 3px solid #8e8e8e; box-shadow: inset 0 -4px 8px rgba(0,0,0,0.4); padding: 3px 20px;
  color: #fff; text-shadow: -1px 1px 0 rgba(0,0,0,0.4); margin-bottom: 10px; font-weight: bold;
  background-color: #9a9a9a;
  background-image: -o-linear-gradient(bottom, #a3a4a6 0%, #8e8e8e 100%); 
  background-image: -moz-linear-gradient(bottom, #a3a4a6 0%, #8e8e8e 100%);
  background-image: -webkit-linear-gradient(bottom, #a3a4a6 0%, #8e8e8e 100%); 
  background-image: -ms-linear-gradient(bottom, #a3a4a6 0%, #8e8e8e 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a3a4a6), color-stop(1, #8e8e8e)); 
  background-image: linear-gradient(to bottom, #a3a4a6, #8e8e8e);
}
.buy-product-page .radio.checked .body .btn-select {
  border: 3px solid #3f9200; background-color: #50b308;
  background-image: -o-linear-gradient(bottom, #3ad606 0%, #4a9804 100%); 
  background-image: -moz-linear-gradient(bottom, #3ad606 0%, #4a9804 100%);
  background-image: -webkit-linear-gradient(bottom, #3ad606 0%, #4a9804 100%); 
  background-image: -ms-linear-gradient(bottom, #3ad606 0%, #4a9804 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3ad606), color-stop(1, #4a9804)); 
  background-image: linear-gradient(to bottom, #3ad606, #4a9804);
}

.buy-product-page .offer {border: 1px solid #cdcbcc; padding-left: 0; margin-bottom: 20px; box-shadow: 1px 1px 5px rgba(0,0,0,0.3);}
.buy-product-page .offer .header {background-color: #5e5e5e; color: #fff;}
.buy-product-page .offer .header p {margin-bottom: 0; padding: 6px 12px;}
.buy-product-page .offer .header .col-xs-7 {padding: 3px 0 0 0;}
.buy-product-page .offer .header .col-xs-7 p {font-size: 1.2em;}
.buy-product-page .offer .header .col-xs-7 span {color: #ffdf2a;}
.buy-product-page .offer .header .col-xs-5 {padding: 0;}
.buy-product-page .offer .header .col-xs-5 p {
  color: #fff; text-transform: uppercase; background-color: #1793dd; box-shadow: inset -1px 2px 2px rgba(255,255,255,0.4);
  border-top-left-radius: 3px; border-bottom-left-radius: 3px;
  background-image: -o-linear-gradient(bottom, #4abdf6 0%, #0a84c5 100%); 
  background-image: -moz-linear-gradient(bottom, #4abdf6 0%, #0a84c5 100%);
  background-image: -webkit-linear-gradient(bottom, #4abdf6 0%, #0a84c5 100%); 
  background-image: -ms-linear-gradient(bottom, #4abdf6 0%, #0a84c5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4abdf6), color-stop(1, #0a84c5)); 
  background-image: linear-gradient(to bottom, #4abdf6, #0a84c5);
}
.buy-product-page .offer .header .col-xs-5 p span {color: #fcf707; font-size: 1.2em;}
.buy-product-page .offer .body {background-color: #fff;}
.buy-product-page .offer .body .title {color: #f70201; font-family: HelveticaBlackCondensed, Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 3.8em; text-transform: uppercase; line-height: 1em; padding-top: 20px;}
.buy-product-page .offer .body .subtitle {font-size: 2.3em; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
.buy-product-page .offer .body .img-responsive {margin: 20px auto;}
.buy-product-page .offer .body p span {color: #ed1c5a;}
.buy-product-page .offer .body .price {color: #5b7f03; font-family: HelveticaBlackCondensed, Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 3em; line-height: 1em;}
.buy-product-page .offer .body .price span {color: #333; font-style: italic; font-size: 0.6em; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
.buy-product-page .offer .body small {font-style: italic; padding-right: 30px;}

.order-summary .panel {border-radius: 0; border: 0; box-shadow: 1px 1px 5px rgba(0,0,0,0.3);}
.order-summary .panel-heading {text-transform: uppercase; background-color: #e7e6ec; color: #41403e; border-radius: 0; border-bottom: 2px solid #cacaca;}
.order-summary .panel-body .header {background-color: #f8f7f9; border-bottom: 1px dotted #333; padding: 5px 0;}
.order-summary .panel-body .header .checkbox {box-shadow: none; margin-bottom: 0; border: 0; margin-top: 0;}
.order-summary .panel-body .header .col-xs-6 {padding-left: 5px;}
.order-summary .panel-body .body .table-row .col-xs-6 {padding: 5px 0 0 10px;}
.order-summary .panel-body .footer {background-color: #f3f2f5; border-bottom: 2px solid #e4e4e4; margin-top: 5px;}
.order-summary .panel-body .footer .col-xs-6 {padding-left: 10px;}
.order-summary .panel-body .footer .col-xs-6:first-child {padding-top: 5px;}
.order-summary .panel-body .footer .total-price {color: #1e8802; font-size: 1.5em;}

.exclusive-trial-plan {background-color: rgba(255,255,255,0.4); padding: 10px 15px; box-shadow: 1px 1px 5px rgba(0,0,0,0.3); margin-bottom: 20px; text-shadow: 0 1px 0 #fff; color: #333;}
.exclusive-trial-plan img {margin-right: 15px; margin-top: 5px;}

.satisfaction-badge {box-shadow: 1px 1px 5px rgba(0,0,0,0.3); border-radius: 10px; margin-bottom: 20px; position: relative; box-shadow: inset 0 1px 1px rgba(255,255,255,0.5);}
.satisfaction-badge-inner {background-color: rgba(255,255,255,0.4); border-radius: 10px; padding: 10px 15px 10px 85px;}
.satisfaction-badge:before {display: block; content: ""; width: 100px; height: 100px; position: absolute; top: -15px; left: -15px; background: url(../images/satisfaction-badge.png) 0 0 no-repeat;}
.satisfaction-badge p {margin-bottom: 0; text-shadow: 0 1px 0 #fff; line-height: 1.1em;}

.credit-card-information {
  margin-top: 10px; position: relative; background: #4c810f; padding-top: 160px; box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  background: #4c810f;
  background: -moz-linear-gradient(left, #4c810f 0%, #43760c 25%, #265304 75%, #1d4801 100%);
  background: -webkit-gradient(linear, left, right, color-stop(0%,#4c810f), color-stop(25%,#43760c), color-stop(75%,#265304), color-stop(100%,#1d4801));
  background: -webkit-linear-gradient(left, #4c810f 0%,#43760c 25%,#265304 75%,#1d4801 100%);
  background: -o-linear-gradient(left, #4c810f 0%,#43760c 25%,#265304 75%,#1d4801 100%);
  background: -ms-linear-gradient(left, #4c810f 0%,#43760c 25%,#265304 75%,#1d4801 100%);
  background: linear-gradient(to right, #4c810f 0%,#43760c 25%,#265304 75%,#1d4801 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c810f', endColorstr='#1d4801',GradientType=0 );
}
.credit-card-information .top-banner {
  color: #fff; text-shadow: 4px 4px 0 rgba(0,0,0,0.1); text-transform: uppercase; line-height: 2.2em; margin-bottom: 0;
  width: 100%; position: absolute; top: 20px; left: -10px; padding: 20px 0; box-shadow: 6px 6px 0 rgba(0,0,0,0.2);
  background-color: #fcb535;
  background-image: -o-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%); 
  background-image: -moz-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%);
  background-image: -webkit-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%); 
  background-image: -ms-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fac64c), color-stop(1, #ffa31b)); 
  background-image: linear-gradient(to bottom, #fac64c, #ffa31b);
}
.credit-card-information .top-banner:before {background: url(../images/payment-banner-corner.png) 0 0 no-repeat; display: block; content: ""; position: absolute; bottom: -10px; left: 0; width: 10px; height: 10px;}
.credit-card-information .top-banner .first {font-family: HelveticaBoldCondensed, Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 2em;}
.credit-card-information .top-banner .second {font-family: HelveticaBlackCondensed, Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 2.3em;}
.credit-card-information .subheader {
  padding: 5px 15px; position: relative; right: -15px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;
  text-shadow: 0 1px 1px #fff; color: #512c19; margin-bottom: 10px;
  background-color: #fcb535;
  background-image: -o-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%); 
  background-image: -moz-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%);
  background-image: -webkit-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%); 
  background-image: -ms-linear-gradient(bottom, #fac64c 0%, #ffa31b 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fac64c), color-stop(1, #ffa31b)); 
  background-image: linear-gradient(to bottom, #fac64c, #ffa31b);
}
.credit-card-information .form-horizontal .col-sm-4 {padding-left: 0px; padding-right: 0;}
.credit-card-information .form-horizontal label {color: #fff; font-weight: normal;}
.credit-card-information .form-horizontal .form-control {border-radius: 0;}
.credit-card-information .card-expiration-date .col-sm-5 {padding: 0;}
.credit-card-information .card-expiration-date .col-sm-1 {color: #fff; padding-top: 5px; padding-left: 5px; padding-right: 5px;}
.credit-card-information .card-expiration-date select {display: inline-block;}
.credit-card-information .security-code .col-sm-3.form-control-wrapper {padding-right: 0;}
.credit-card-information .security-code .col-xs-6.col-sm-4 {padding-left: 10px; padding-top: 7px;}
.credit-card-information .security-code .col-xs-6.col-sm-4 a {color: #fff;}
.credit-card-information .checkbox {border: 0; box-shadow: none;}
.credit-card-information .agree-to-terms {margin-bottom: 0;}
.credit-card-information .btn-order-wrapper {box-shadow: 0 1px 3px rgba(0,0,0,0.5); display: inline-block; border-radius: 6px; margin: 0 5px;}
.credit-card-information .btn-order {
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1); position: relative; border-radius: 6px; white-space: normal; word-wrap: normal;
  border-color: #96312b; background: #db1c12;
  background: -moz-linear-gradient(top, #db1c12 0%, #d11a12 11%, #b01112 34%, #9c0d12 51%, #840d11 52%, #840d11 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db1c12), color-stop(11%,#d11a12), color-stop(34%,#b01112), color-stop(51%,#9c0d12), color-stop(52%,#840d11), color-stop(100%,#840d11));
  background: -webkit-linear-gradient(top, #db1c12 0%,#d11a12 11%,#b01112 34%,#9c0d12 51%,#840d11 52%,#840d11 100%);
  background: -o-linear-gradient(top, #db1c12 0%,#d11a12 11%,#b01112 34%,#9c0d12 51%,#840d11 52%,#840d11 100%);
  background: -ms-linear-gradient(top, #db1c12 0%,#d11a12 11%,#b01112 34%,#9c0d12 51%,#840d11 52%,#840d11 100%);
  background: linear-gradient(to bottom, #db1c12 0%,#d11a12 11%,#b01112 34%,#9c0d12 51%,#840d11 52%,#840d11 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db1c12', endColorstr='#840d11',GradientType=0 );
}
.credit-card-information .btn-order:active {box-shadow: inset 0 0 15px rgba(0,0,0,0.2); padding-top: 11px; padding-bottom: 9px;}
.credit-card-information .btn-order span {display: block; text-transform: uppercase; line-height: 1em; text-shadow: 0 1px 2px rgba(0,0,0,0.5);}
.credit-card-information .btn-order span:first-child {font-size: 1.7em; font-family: HelveticaBoldCondensed, Arial, "Helvetica Neue", Helvetica, sans-serif;}
.credit-card-information .btn-order span:last-child {font-family: HelveticaCondensed, Arial, "Helvetica Neue", Helvetica, sans-serif;}
.credit-card-information .purchase-note {color: #fff; line-height: 1.2em; font-size: 0.95em;}
.credit-card-information .footer {text-transform: uppercase; background-color: #fff; padding-top: 10px; padding-bottom: 10px;}

/* Custom styles */
footer {background: url(../images/footer-img.png) left bottom no-repeat #fff5d3; padding: 25px 0; border-top: 1px solid #fff; box-shadow: 0 0 2px rgba(0,0,0,0.2); position: relative;}
footer a, footer a:hover {color: #487e01 !important;}
footer .footer-links {margin-top: 20px;}

@media (max-width: 1400px) {
  .content-wrapper .container:before {background-image: none;}
}
@media (max-width: 768px) {
  .navbar-right ul a, .navbar-right ul li {display: block;}
  .navbar .container, .navbar-collapse {padding-right: 15px;}
  .navbar-right li {background-image: none; padding: 1px 0;}
  footer, .navbar-collapse, .navbar-collapse:before, .content-wrapper:before, .navbar .container:before, .order-form .form:before, .what-is-garcinia-top, .what-is-garcinia-bottom {background-image: none;}
  .how-it-works .title {font-size: 2em;}
  .how-it-works p {padding-left: 0;}
  .order-form {padding: 15px;}
  .order-form .title, .order-form .subtitle {text-align: center;}
  .what-is-garcinia-top .benefits-list {padding-top: 0;}
  .what-is-garcinia-top .col-first p {padding-left: 0 !important; padding-right: 0 !important;}
  .what-is-garcinia-top .benefits-list li {padding-left: 15px !important;}
  .credit-card-information .form-horizontal .col-sm-4 {padding: 0 15px;}
  .credit-card-information .security-code .control-label {text-align: left;}
  .order-form .form {padding-top: 70px;}
  .order-form .subtitle {margin-bottom: 10px;}
  .apply-coupon-section {
    width: 100% !important;
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
         -o-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
  .apply-coupon-section .btn-apply-coupon {float: right;}
  .benefits-section .benefits-slider {margin-top: 20px;}
  .order-form .btn-order-wrapper, .order-form .btn-order {display: block;}
  .order-form .btn-order {word-wrap: normal; white-space: normal; padding-left: 0; padding-right: 0;}
  .order-form .btn-order span:first-child {font-size: 1.2em;}
  .order-form .btn-order span:last-child {font-size: 0.8em;}
  .credit-card-information .btn-order-wrapper {margin: 0 15px;}
  .credit-card-information .btn-order-wrapper, .credit-card-information .btn-order {display: block;}
  .credit-card-information .btn-order {padding-left: 0; padding-right: 0;}
  .credit-card-information .btn-order span:first-child {font-size: 1.2em;}
  .credit-card-information .btn-order span:last-child {font-size: 0.8em;}
  .order-form .col-sm-6, .order-form .col-xs-12 {padding: 0;}
  .what-is-garcinia-bottom {min-height: 0; padding-bottom: 10px;}
  .what-is-garcinia-bottom .link-wrapper {font-size: 1.5em;}
  .buy-product-page .products-list {padding: 0;}
}
@media (max-width: 700px) {
  .order-form .form {padding-top: 90px;}
  .what-is-garcinia-bottom .link-wrapper {width: 100%; font-size: 2em;}
  .buy-product-page .offer .body .col-xs-4, .buy-product-page .offer .body .col-xs-8 {width: 100%;}
  .buy-product-page .offer .body .title {padding-top: 0; font-size: 2.5em; text-align: center; margin-bottom: 5px;}
  .buy-product-page .offer .body .subtitle {font-size: 2em; text-align: center;}
}
@media (max-width: 600px) {
  .buy-product-page .radio .body .col-xs-7, .buy-product-page .radio .body .col-xs-5 {width: 100%;}
}
@media (max-width: 550px) {
  .apply-coupon-section {text-align: center !important;}
  .apply-coupon-section span, .apply-coupon-section .btn-apply-coupon {float: none;}
  .apply-coupon-section .btn-apply-coupon {margin: 0 0 10px 0;}
}
@media (max-width: 500px) {
  .order-form .form {padding-top: 50px;}
  .order-form .form .inner-form-wrapper .form-banner p {text-shadow: 2px 2px 0 rgba(0,0,0,0.1);}
  .order-form .form .inner-form-wrapper .form-banner .title {font-size: 2em;}
  .order-form .form .inner-form-wrapper .form-banner .subtitle {font-size: 1.3em;}
  .benefits-section .benefits-copy {padding-top: 0;}
  .benefits-section .benefits-slider {border-top-right-radius: 20px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;}
  .benefits-section .benefits-copy .link {padding: 0;}
  .buy-product-page .offer .body .title {font-size: 2em;}
  .buy-product-page .offer .body .subtitle {font-size: 1.5em;}
  .buy-product-page .offer .body .price span {font-size: 0.5em;}
}
@media (max-width: 400px) {
  .apply-coupon-section span {display: block; line-height: 1em; margin-bottom: 5px;}
  .apply-coupon-section .btn-apply-coupon {margin-top: 5px;}
  .buy-product-page .offer .body .price {text-align: center;}
  .buy-product-page .offer .body .price span {display: block;}
}
@media (max-width: 380px) {
  .order-form .form {padding-top: 80px;}
}
@media (max-width: 350px) {
  .order-form .form {padding-top: 100px;}
}
